:root {
  --clr-background: black;
  --clr-cinema-red: #9e0404;
  --clr-main-text: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button:focus {
  outline: none;
}
button {
  color: white;
}
ul {
  list-style: none;
}
a, a:hover, a:visited, a:active {
  text-decoration: none;
  color: var(--clr-main-text);
}
html, body {
  height: 100vh;
  width: 100vh;
  color: white;
  font-family: 'Lato', sans-serif;
}
body {
  background-color: var(--clr-background);
}
.main {
  position: absolute;
  padding-top: 58px;
  top:0;
  left:0;
  width: 99%;
  height: 99%;
}
.container {
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  height: 58px;
  width: 100%;
  background-color: var(--clr-cinema-red);
  display: flex; 
  justify-content: space-between;
  z-index: 100;
}
.svg-logo {
  display: none;
  height: 46px;
  margin-right: 10px;
}
.navigation-toggle-container {
  margin-right: 20px;
  height: 58px;
  width: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}


header .logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
header .logo-text {
  font-size: 28px;
  color: white;
  font-family: 'Train One', cursive;
}
  
/*.navigation {
  position: fixed;
  top: 58px;
  width: 100%;
  height: calc(100% - 58px);
  background-color: rgba(158,4,4,0.4);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;*/
  /*  top: 58px;
  left: calc(-1 * var(--nav-size));
  height: calc(100% - 58px);
  width: 200px;
  background-color: var(--clr-cinema-red);
  color: white;
  padding: 20px;
  transition: transform .5s;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  z-index: 99;*/
/*}*/
.navigation {
  position: fixed;
  top: -100vh;
  width: 100%;
  height: calc(100% - 58px);
  background-color: rgba(158,4,4,0.95);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /*  top: 58px;
  left: calc(-1 * var(--nav-size));
  height: calc(100% - 58px);
  width: 200px;
  background-color: var(--clr-cinema-red);
  color: white;
  padding: 20px;*/
  transition: transform .5s, opacity .5s;
  transition: -webkit-transform .5s ease, opacity .5s ease;
  transition: transform .5s ease, opacity .5s ease;
  /*z-index: 99;*/
}
.navigation .nav-list-container {
  height: 40%;
}
.navigation .nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
  .navigation .nav-list-item {
    color: #f8f8ff;
    font-size: 38px;
    font-weight: bold;
    opacity: 0.8;
  }
  .navigation .nav-list-item:hover {
    opacity: 1;
  }
  .navigation .nav-list-item a {
    
  }

.nav-active {
  -webkit-transform: translateY(calc(100% + 115px));
  -ms-transform: translateY(calc(100% + 115px));
  transform: translateY(calc(100% + 115px));
  opacity: 1;
}


.movie-poster-small {
  width: 100px;
}
.movie-details {
  height: 100%;
  width: 100%;
  padding-top: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie-details-inner {
  width: 640px;
  height: 480px;
  display: flex;
}
.movie-details-nav {
  width: 640px;
  height: 46px;
}
.movie-details-nav-list {
  height: 100%;
  max-width: 275px;
  display: flex;
  align-items: center;
}
.movie-details-nav-item {
  font-size: 20px;
  margin-left: 10px;
}
.movie-details-nav-item:hover span {
  cursor:pointer;
}

.active {
  border-bottom: solid red 3px;
}
.movie-details-poster-container {
  max-width: 280px;
}

.movie-details-poster-img {
  width: 100%;
}
.movie-details-info {
  margin-left: 20px;

}
.movie-detail-info-genre:not(:last-child):after {
  content: ' | ';
}

.movie-detail-info-plot {
  margin-top: 20px;
}
.movie-detail-info-crew{
  margin-top: 20px;
}


.movie-details-bg-container {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -9;
}
.movie-details-bg {
  position: absolute;
  height: 140%;
  left: -10%;
  top: 0;
  filter: blur(3px) brightness(5%);
  -webkit-filter: blur(3px) brightness(5%);
  -moz-filter: blur(3px) brightness(5%);
  z-index: -9
}

.showings, .movie-showings, .buy-ticket, .auditoriums{
  width: 100%;
/*  height: 100%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-showings, .buy-ticket, .auditoriums {
    height: 100%;
}
.ticket-confirmation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.showings, .movie-showings h1 {
  margin: 10px;
}
.showings-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  .showings-table thead tr {
    background-color: var(--clr-cinema-red);
    color: #ffffff;
    text-align: left;
  }

  .showings-table th,
  .showings-table td {
    padding: 12px 15px;
  }
  .showings-table tbody tr {

  }

  .showings-table tbody tr:nth-of-type(even) {
    background-color: #0C0C0C;
  }

  .showings-table tbody tr:last-of-type {

  }

.showings-table td{

}
.ticket-confirmation-heading {
  text-align: center;
  margin-bottom: 20px;
}
.printable-ticket {
  position: relative;
  width: 640px;
  height: 300px;
  margin-bottom: 10px;
}
.printable-ticket-information {
  margin: 10px;
}
.printable-ticket .qrcode {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.printable-ticket-header {
  padding-left: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
  background: rgb(158,4,4);
  background: linear-gradient(90deg, rgba(158,4,4,1) 0%, rgba(0,212,255,0) 100%);
}
.printable-ticket-bg-container {
  position: absolute;
  width: 640px;
  height: 300px;
  overflow: hidden;
  z-index: -1;
}
/*  .printable-ticket-bg:nth-child(even) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }*/

.printable-ticket-bg {
  width: 640px;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
}


.flex {
  display: flex;
}
.flex-center {
  display:flex;
  justify-content: center;
}
.back-link {
  margin-top: 10px;
}
.flex-column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.ml-20 {
  margin-left: 20px;
}
.mr-20 {
  margin-right: 20px;
}
.display-none {
  display: none;
}

.movie-detail-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;

}
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: var(--clr-cinema-red);
  width: 150px;
  height: 48px;
}
.movie-index {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-carousel {
  width: 70%;
}
.main-carousel-item-bg {
  max-width: 100%;
  max-height: 100%;
}

#main-carousel-btn {
  position: absolute;
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.main-carousel-title {
  font-size: 78px;
  position: absolute;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
.sub-carousels-container {
  margin-top: 60px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-carousel {
  margin-top: 20px;
  width: 80%;
}
.sub-carousel-heading {
  padding-left: 20px;
  width: 80%;
}
.sub-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}
.form-group {
  margin: 10px;
  display: flex;
  flex-direction: column;
}



.sub-carousel-item-img {
  width: 100%;
}
.slick-dots li button:before {
  color: white !important;
}

.fully-booked {
  background-color: darkred!important;
  color: silver;
}

.form-group {
  display: flex;
  flex-direction: row;
}
.form-group input {
  display: inline;
  padding-left
  height: 38px;
  width: 300px;
}
.form-group label {
  display: flex;
  align-items: center;
  padding-left: 10px;
  background-color: var(--clr-cinema-red);
  height: 38px;
  width: 100px;
}
.seat-picker {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seat-picker .seat-row {
  display: flex;
}
.seat-picker .seat {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
  border: black solid 1px;
  margin: 4px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 16px;
  width: 24px;
  font-size: 12px;
  color: black;
}
.seat-picker .seat-free:hover {
  cursor: pointer;
  background-color: #7CFC00;
}
.seat-picker .seat-booked {
  background-color: #CD4040;
}
.seat-picker .seat-selected {
  background-color: #7CFC00;
}

.order-total {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.order-total h4 {
  margin-right: 10px;
}

.price-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mr-5 {
  margin-right: 5px;
}