<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - BerrasBio1._0</title>
  @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
  <link rel="stylesheet" href="~/css/site.css" />
  <link href="~/css/hamburger.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick.css" />
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="~/assets/img/logoimg.svg" class="svg-logo"/>
      <a class="logo-text" asp-area="" asp-controller="Movies" asp-action="Index">BERRAS BIO</a>
    </div>
    <div class="navigation-toggle-container">
      <button class="hamburger hamburger--collapse" type="button" id="nav-toggle">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </header>
  <nav class="navigation" id="navigation">
    <div class="nav-list-container">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-item-link" asp-area="" asp-controller="Movies" asp-action="Index">Movies</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" asp-area="" asp-controller="Showings" asp-action="Today">Showings today</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" asp-area="" asp-controller="Showings" asp-action="Index">All Upcoming Showings</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" asp-area="" asp-controller="Showings" asp-action="PriceList">Price List</a>
        </li>
      </ul>
    </div>
  </nav>
  <main role="main" class="main">
    @RenderBody()
  </main>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/lib/slick-carousel/slick.min.js"></script>
  @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
